.h1{
    color: chocolate;
    font-family: serif;
}
.h2{
    color: chocolate;
    font-family: serif;
    text-align: center;
}
.top-button {
    width: 80px;
    height: 80px;
    background: #ffc14d;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 100px;
    display: block;
}
.top-arrow {
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 20px;
    height: 20px;
    margin: 30px auto;
    transform: rotate(45deg);
    display: block;
}
.top-button:hover {
    background: #b96a39;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffebaa;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: chocolate;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
/*  text-align: center;*/
}